.wrapper {
  background: #114357;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0px;
  display: inline-flex;
  width: 100%;
  overflow: auto;
color:white;
  width: 100%; 
margin: 0; 
 
  flex-flow: wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

