.wrapper {
  background: #114357;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0px;
  display: inline-flex;
  width: fit-content;
  overflow: auto;
  margin-right: auto; 
  margin-left: auto; 
  max-width: auto; 
  width: 100%; 
margin: 0; 
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

