

footer,
.push {
  min-height: 50px;
}

footer {
  /* Box-model */
  padding: 10px 0;

  /* Positioning */
  clear: both;
  font-size: 12px;

  /* Typography */

  color: black;
  text-align: center;

  /* Visual */
  background: #B2DFDB;
  border-top: 2px solid black;
  position: relative;
  overflow: none;
}
