

footer,
.push {
  min-height: 50px;
}

footer {
  /* Box-model */
  padding: 30px 0;

  /* Positioning */
  clear: both;
  font-size: 12px;

  /* Typography */

  color: #d67c06;
  text-align: center;

  /* Visual */
  background: #B2DFDB;
  border-top: 2px solid #fdc4b6;
  position: relative;
  overflow: none;
}
