/* col.search-results img {
    margin: 0 auto;
  } */

.form * 
{

    height: 50%;
    background: linear-gradient(#333, black);
    opacity: 0.6;
    color: white;
    padding:25px;
  }
 #formBasicText * {
    color: white;
  }