/* Fav Card */
.card {
  /* background: #fdc4b6; */
  border-radius: 9px;
  height: 525px;
  margin: 1rem;
  position: relative;
  width: 100%;
  /* box-shadow: 0 3px 6px #fdc4b6, 0 3px 6px #fdc4b6; */
  text-align: left;
  color:#114357;
  display: table;
}
.card-container{
  /* background: #114357,; */
  color:black;
  width: 700px;
  border-radius: 9px;
  /* box-shadow: 0 3px 6px #fdc4b6, 0 3px 6px #fdc4b6; */
  padding: 20px;
  margin: 1rem;
  position: relative;
  padding-right: 20px;
}

body {
  font-family: "Archivo", sans-serif;
  font-family: 'Archivo Narrow', sans-serif;
  font-family: 'Archivo Black', sans-serif;
  font-family: 'Permanent Marker', cursive;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#root,
#root > div,
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

table {
  background-color: aliceblue;
  border-radius: 5px;
  border: 1px solid gray;
  text-transform: uppercase;
  margin: auto;
  object-fit: contain;
}

.user-card,
.pet-card {
  margin-top: 2rem;
}

.card-content span {
  text-transform: capitalize;
}
.table-content {
  color: blue;

}

form {
  box-shadow: 0 3px 6px #fdc4b6, 0 3px 6px #fdc4b6;
  
  background-color: aliceblue;
  color: red;
  border-radius: 5px;
  border: 1px solid gray;
  text-transform: uppercase;
  margin: auto;
  padding: 10px;
  object-fit: contain;
  line-height: 250%;
  flex-wrap: wrap;
  width: 500px;
}

