body {
    font-family: "Archivo", sans-serif;
  }
  
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  #root,
  #root > div,
  body,
  html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .mt-0 {
    margin-top: 0 !important;
  }